*{
    margin: 0%;
    padding: 0;
}
body{
    background-color: #581d22;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5)rgba(0, 0, 0, 0.5));
}
.foto1{
    padding-top: 30px;
}
nav{
    position: fixed;
    background-color: #581d22;
    width: 100%;
    height: 70px;
}
ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}
li{
    align-items: center;
    padding-top: 10px;
    margin-right: 80px;
}
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .text{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: x-large;
    padding: 50px;
    color: white;
}
header .text2{
    font-size: large;
    padding-top: 30px;
}
.conteiner-fita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pad: 0;
    margin: 0;
}
.fita p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    padding: 40px;
}
.title-catalogo{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    margin: 10px 0px 5px 0px;
}
section{
    margin: 15px;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}

.card-header{
    text-align: center;
    color: #800080;
    padding: 30px 15px 15px 15px;

}
.card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: medium;
    padding: 0px 10px 43px 10px;
    text-align: start;
    margin-left: 10px;
}
.card-body span{
    font-family: serif;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-left: 10px;
}
.card-footer{
    width: 100%;
    height: 100px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.card-footer a{
    margin-top: 18px;

}
.card:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card2{
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card2 .card-header{
    text-align: center;
    color: #800080;
    padding: 30px 15px 10px 15px;

}
.card2 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: large;
    padding: 0px 10px 6px 10px;
}
.card2 .card-footer{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.card2 .card-footer a{
    margin-top: 20px;

}
.card2:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card3{
    transform: scale3d(0.5s);
    margin-top: 0px;
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card3 .card-header{
    text-align: center;
    color: #800080;
    padding: 30px 15px 10px 15px;
}
.card3 .card-body p{
    font-size: 15px;
}
.card3 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: large;
    padding: 0px 10px 6px 10px;
}
.card3 .card-footer{
    width: 100%;
    height: 100px;
    margin-top: 8px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.card3 .card-footer a{
    margin-top: 20px;
}
.card3:hover{
    transform: scale3d(1.1, 1.1, 1);  
}
.card4{
    margin-top: 0px;
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
    transform: scale3d(00.5s);
}
.card4 .card-header{
    text-align: center;
    color: #800080;
    padding: 30px 15px 10px 15px;
}
.card4 .card-body p{
    font-size: medium;
}
.card4 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: large;
    padding: 0px 10px 0px 10px;
}
.card4 .card-footer{
    width: 100%;
    height: 100px;
    margin-top: 43px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.card4 .card-footer a{
    margin-top: 20px;
}
.card4:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card5{
    margin-top: 0px;
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card5 .card-header{
    text-align: center;
    padding: 30px 15px 10px 15px;

}
.card5 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    text-align: start;
    margin-left: 10px;
}
.card5 .card-body span{
    font-family: serif;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-left: 10px;
}
.card5 .card-footer{
    margin-top: 25px;
    width: 100%;
    height: 100px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.card5 .card-footer a{
    font-size: x-large;
    padding: 5px;
}
.card5:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card6{
    margin-top: 0px;
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card6 .card-header{
    text-align: center;
    padding: 30px 15px 10px 15px;

}
.card6 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:medium;
    padding: 0px 10px 0px 10px;
    text-align: start;
    margin-left: 10px;
}
.card6 .card-body span{
    font-family: serif;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-left: 10px;
}
.card6 .card-footer{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.card6 .card-footer a{
    font-size: x-large;
    padding: 5px;
}
.card6:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card7{
    margin-top: 0px;
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card7 .card-header{
    text-align: center;
    padding: 30px 15px 10px 15px;

}
.card7 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:medium;
    padding: 0px 10px 0px 10px;
    text-align: start;
    margin-left: 10px;
}
.card7 .card-body span{
    font-family: serif;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-left: 10px;
}
.card7 .card-footer{
    margin-top: 29px;
    width: 100%;
    height: 100px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.card7 .card-footer a{
    font-size: x-large;
    padding: 5px;
}
.card7:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card8{
    margin-top: 0px;
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card8 .card-header{
    text-align: center;
    padding: 30px 15px 10px 15px;

}
.card8 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:medium;
    padding: 0px 10px 0px 10px;
    text-align: start;
    margin-left: 10px;
}
.card8 .card-body span{
    font-family: serif;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-left: 10px;
}
.card8 .card-footer{
    margin-top: 47px;
    width: 100%;
    height: 100px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.card8 .card-footer a{
    font-size: x-large;
    padding: 5px;
}
.card8:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card9{
    margin-top: 0px;
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card9 .card-header{
    text-align: center;
    padding: 30px 15px 10px 15px;

}
.card9 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:15px;
    padding: 0px 10px 0px 10px;
    text-align: start;
    margin-left: 10px;
}
.card9 .card-body span{
    font-family: serif;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-left: 10px;
}
.card9 .card-footer{
    margin-top: 4px;
    width: 100%;
    height: 100px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.card9 .card-footer a{
    font-size: x-large;
    padding: 5px;
}
.card9:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.card10{
    margin-top: 0px;
    transform: scale3d(0.5s);
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    background-color: #421c1f;
}
.card10 .card-header{
    text-align: center;
    padding: 30px 15px 10px 15px;

}
.card10 .card-body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:medium;
    padding: 0px 10px 39px 10px;
    text-align: start;
    margin-left: 10px;
}
.card10 .card-body span{
    font-family: serif;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-left: 10px;
}
.card10 .card-footer{
    margin-top: 29px;
    width: 100%;
    height: 100px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.card10 .card-footer a{
    padding: 5px;
}
.card10:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.botao p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding: 30px 0px 15px 0px;
}
.botao button{
    align-items: center;
    background-color: #581d22;

}
.whats{
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-size: 1.6rem;
    transition: .2s ease;

}
.whats:hover{
    background: #204F46;
}
.conteiner-main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px 0px 30px 0px;
}
.main-text{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
.main-curso{
    display: flex;
    justify-content: center;
    align-items: center;
}
.curso-header{
    padding: 30px 30px 0px 30px;
    width: 80%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}
.card-curso{
    margin: 30px 30px 30px 30px;
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    background-color: #421c1f;
    transform: scale3d(0.5s);
}
.card-curso-header h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #800080;
    padding: 20px 20px 15px 20px;
}
.card-curso-header p{
    padding: 0px 15px 15px 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.card-curso:hover{
    transform: scale3d(1.1, 1.1, 1);
}

@media (max-width: 1000px){
    .foto1{
    padding-top: 70px;
     width: 100%;   
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-left: 9px;
    }
    li{
        margin: 0;
        padding: 0;
    }
    header{
        flex-direction: column;
    }
    .text h1{
        font-size: larger;
    }
    .text2 p{
        font-size: medium;
    }
    .fita p{
        padding: 25px 15px 20px 15px;
    }
    .main-header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .botao p{
        padding: 30px 0px 15px 10px;
        color: white;
        font-size: x-large;
        font-family: 'Courier New', Courier, monospace;
    }
    .botao a{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .botao button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        font-size: large;
    }
    .fita p{
        font-size: large;
        margin: 0px 20px 0px 20px;
    }
    .conteiner{
        padding: 0px 5px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .card{
        transform: scale3d(0.5s);
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
    }
    .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;

    }
    .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 10px 10px;
    }
    .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 10px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card-footer a{
        margin-top: 15px;

    }
    .card-footer span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card2{
        margin-top: 15px;
        transform: scale3d(0.5s);
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
    }
    .card2 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;

    }
    .card2 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 5px 10px;
    }
    .card2 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 31px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card2 .card-footer a{
        margin-top: 15px;

    }
    .card2:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card3{
        transform: scale3d(0.5s);
        margin-top: 15px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
    }
    .card3 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card3 .card-body p{
        font-size: medium;
    }
    .card3 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 0px 10px;
    }
    .card3 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card3 .card-footer a{
        margin-top: 15px;
    }
    .card3:hover{
        transform: scale3d(1.1, 1.1, 1);  
    }
    .card4{
        margin-top: 15px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
        transform: scale3d(00.5s);
    }
    .card4 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card4 .card-body p{
        font-size: medium;
    }
    .card4 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 0px 10px;
    }
    .card4 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card4 .card-footer a{
        margin-top: 15px;
    }
    .card4:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card5{
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
        transform: scale3d(00.5s);
    }
    .card5 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card5 .card-body p{
        font-size: 13px;
    }
    .card5 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 18px 10px;
    }
    .card5 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card5 .card-footer a{
        font-size: x-large;
        margin-top: 15px;
    }
    .card5:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card6{
        margin: 15px 0px 0px 0px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
        transform: scale3d(00.5s);
    }
    .card6 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card6 .card-body p{
        font-size: medium;
    }
    .card6 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 0px 10px;
    }
    .card6 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card6 .card-footer a{
        font-size: x-large;
        margin-top: 15px;
    }
    .card6:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card7{
        margin-top: 15px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
        transform: scale3d(00.5s);
    }
    .card7 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card7 .card-body p{
        font-size: medium;
    }
    .card7 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 18px 10px;
    }
    .card7 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card7 .card-footer a{
        font-size: x-large;
        margin-top: 15px;
    }
    .card7:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card8{
        margin-top: 15px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
        transform: scale3d(00.5s);
    }
    .card8 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card8 .card-body p{
        font-size: medium;
    }
    .card8 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 0px 10px;
    }
    .card8 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card8 .card-footer a{
        font-size: x-large;
        margin-top: 15px;
    }
    .card8:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card9{
        margin-top: 15px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
        transform: scale3d(00.5s);
    }
    .card9 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card9 .card-body p{
        font-size: 13px;
    }
    .card9 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 0px 10px;
    }
    .card9 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .card9 .card-footer a{
        font-size: x-large;
        margin-top: 15px;
    }
    .card9:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .card10{
        margin-top: 15px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
        background-color: #421c1f;
        transform: scale3d(00.5s);
    }
    .card10 .card-header{
        text-align: center;
        color: #800080;
        padding: 30px 15px 10px 15px;
    }
    .card10 .card-body p{
        font-size: large;
    }
    .card10 .card-body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: large;
        padding: 0px 10px 25px 10px;
    }
    .card10 .card-footer{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        background-color: #800080;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-right: 5px;
    }
    .card10 .card-footer a{
        margin-top: 15px;
    }
    .card10:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
    .conteiner-main{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        padding: 0;
    }
    .main-text{
        padding: 10px 50px 30px 50px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-size: large;
        color: white;
    }
    .main-curso{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .curso-header{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        padding: 30px;
    }
    .card-curso{
        margin: 0px 0px 30px 0px;
        width: 400px;
        height: 600px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        background-color: #421c1f;
        transform: scale3d(0.5s);
    }
    .card-curso-header{
        padding: 15px 10px 0px 10px ;
        text-align: center;
        color: #800080;
        font-size: medium;
    }
    .card-curso-header p {
        padding: 0px 0px 15px 0px;
        color: white;
        font-size: x-large;
        font-family: 'Courier New', Courier, monospace;
    }
    .card-curso:hover{
        transform: scale3d(1.1, 1.1, 1);
    }
}
